#dataTable {
	padding : 10px;
	overflow-x: auto;
	white-space: nowrap;
}

div#table_id_info.dataTables_info
{
	color:white;
}

th
{
	color:white;
}

	.carousel-page
{
width:100%;
height:400px;
color:white;
}